In [127]:
import pandas as pd

hospitales = pd.read_csv("hospitales2.csv")

#hospitales = pd.DataFrame(hospitales)

In [119]:
hospitales.head(1)

,WKT,ID,NOMBRE,NOM_MAP,OBJETO,CALLE,ALTURA,DOM_NORMA,DOM_GEO,TELEFONO,GUARDIA,FAX,WEB,COD_POSTAL,TIPO,TIPO_ESPEC,MOD_AT_1,MOD_AT_2,DEPEND_ADM,DIRECTOR
0,POINT (-58.3775508488443 -34.6288473603881),1.0,HOSPITAL GENERAL DE NIÑOS PEDRO DE ELIZALDE,HOSP. DE ELIZALDE,HOSPITAL,MANUEL A. MONTES DE OCA,40,"MONTES DE OCA, MANUEL AV. 40","40 MONTES DE OCA, MANUEL AV.",4307-5842 / 5844,4307-5442 / 4300-1700,4302-7400,www.elizalde.gov.ar,C1270AAN,Hospital de niños,PEDIATRIA,AT. AMB./INTERNACION,DIAG./TRATAM.,Ministerio de Salud GCBA,Dr. Javier Indart

In [120]:
# selecciono las columnas del DF
hospitales_select=hospitales.loc[:,["WKT",'NOMBRE','DOM_NORMA']]
# le cambio los nombres a las columnas
hospitales_select = hospitales_select.rename(columns={"WKT":"Location","DOM_NORMA":"name","NOMBRE":"label"})

In [121]:
# elimino los caracteres que no necesito de la columna Location
hospitales_select["Location"] = hospitales_select["Location"].str.replace("POINT ","")
hospitales_select["Location"] = hospitales_select["Location"].str.replace(")","")
hospitales_select["Location"] = hospitales_select["Location"].str.replace("(","")

<ipython-input-121-2e434866a748>:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  hospitales_select["Location"] = hospitales_select["Location"].str.replace(")","")
<ipython-input-121-2e434866a748>:4: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  hospitales_select["Location"] = hospitales_select["Location"].str.replace("(","")

In [122]:
# hago string y divido la columna por el espacio " ", y genero dos columnas.
hospitales_select = hospitales_select.join(hospitales_select["Location"].str.split(" ",1,expand=True).rename(columns={0:"latitude",1:"longitude"}))

NameError: name 'split' is not defined

In [123]:
#elimino la columna que ya no es necesaria
hospitales_select.drop("Location", inplace=True , axis=1)
#hospitales_select.drop("longitud", inplace=True, axis=1)
hospitales_select.head()

,label,name,latitude,longitude
0,HOSPITAL GENERAL DE NIÑOS PEDRO DE ELIZALDE,"MONTES DE OCA, MANUEL AV. 40",-58.3775508488443,-34.6288473603881
1,HOSPITAL GENERAL DE NIÑOS RICARDO GUTIERREZ,GALLO 1330,-58.4120700769456,-34.5941919726393
2,HOSPITAL DE ODONTOLOGIA DR. RAMON CARRILLO (EX...,SANCHEZ DE BUSTAMANTE 2529,-58.4027276547828,-34.5845283357505
3,HOSPITAL DE SALUD MENTAL BRAULIO MOYANO,BRANDSEN 2570,-58.3851559118889,-34.6394041316484
4,HOSPITAL DE GASTROENTEROLOGIA B. UDAONDO,CASEROS AV. 2061,-58.3913114406535,-34.6341535760002

In [124]:
# reordeno las columnas
hospitales_select = hospitales_select[["latitude","longitude","name","label"]]

In [125]:
hospitales_select.head()

,latitude,longitude,name,label
0,-58.3775508488443,-34.6288473603881,"MONTES DE OCA, MANUEL AV. 40",HOSPITAL GENERAL DE NIÑOS PEDRO DE ELIZALDE
1,-58.4120700769456,-34.5941919726393,GALLO 1330,HOSPITAL GENERAL DE NIÑOS RICARDO GUTIERREZ
2,-58.4027276547828,-34.5845283357505,SANCHEZ DE BUSTAMANTE 2529,HOSPITAL DE ODONTOLOGIA DR. RAMON CARRILLO (EX...
3,-58.3851559118889,-34.6394041316484,BRANDSEN 2570,HOSPITAL DE SALUD MENTAL BRAULIO MOYANO
4,-58.3913114406535,-34.6341535760002,CASEROS AV. 2061,HOSPITAL DE GASTROENTEROLOGIA B. UDAONDO

In [126]:
# guardo el df en un nuevo csv

hospitales_select.to_csv('hospital3.csv')

In [132]:
import numpy as np


texto1=chr(128998)+chr(129000)
texto2=chr(129000)+chr(128998)
arreglo=np.tile(np.array([[texto1*4],[texto2*4]]),(4,1))


print()
print(arreglo)

🟦
[['🟦🟨🟦🟨🟦🟨🟦🟨']
 ['🟨🟦🟨🟦🟨🟦🟨🟦']
 ['🟦🟨🟦🟨🟦🟨🟦🟨']
 ['🟨🟦🟨🟦🟨🟦🟨🟦']
 ['🟦🟨🟦🟨🟦🟨🟦🟨']
 ['🟨🟦🟨🟦🟨🟦🟨🟦']
 ['🟦🟨🟦🟨🟦🟨🟦🟨']
 ['🟨🟦🟨🟦🟨🟦🟨🟦']]

In [ ]:
*