# Práctica Clase 6

1) Cargar el dataset "Emisiones_CO2.csv" provisto en la clase 2 en un Dataframe de Pandas, quitar los registros que contengan valores faltantes e implementar una nueva columna, que contenga el resultado de una función Hash aplicada sobre el campo "Código de País" y se denomine "Clave_Hash".<br>
Consideraciones: Se puede utilizar la función provista.

In [11]:
def hash_function(key):
    return sum(index * ord(character) for index, character in enumerate(repr(key), start=1))
 #ver hash() de python   
    
    #START 1 para que el enumerate no arranque en 1

In [88]:
print('a\n   holala')
print(repr('a/n   holala'))

a
   holala
'a/n   holala'

In [53]:
print(hash_function(df.iloc[2,0]))

910

In [14]:
print(hash_function('polloconpapas'))
print(hash_function('tapo'))

11792
1799

In [68]:
import pandas as pd
import numpy as np

In [89]:
df = pd.read_csv('Emisiones_CO2.csv',sep='|',decimal=',', encoding='latin-1', thousands=".")

In [78]:

df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9029 entries, 26 to 11126
Data columns (total 7 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Código de país                       9029 non-null   object
 1   Nombre del país                      9029 non-null   object
 2   Región                               9029 non-null   object
 3   Año                                  9029 non-null   int64
 4   CO2 (kt)                             9029 non-null   object
 5   CO2 per cápita (toneladas métricas)  9029 non-null   float64
 6   Clave_Hash                           9029 non-null   int64
dtypes: float64(1), int64(2), object(4)
memory usage: 564.3+ KB

In [73]:
print(df.shape)

print(df['CO2 per cápita (toneladas métricas)'].count())
print(df['CO2 per cápita (toneladas métricas)'].isnull().sum())

(9029, 6)
9029
0

In [72]:
# Quitar los valores faltantes
df.dropna(axis=0, inplace=True)

In [76]:
print(df.shape)

print(df['CO2 per cápita (toneladas métricas)'].count())
print(df['CO2 per cápita (toneladas métricas)'].isnull().sum())

(9029, 7)
9029
0

In [42]:
# generar columna sin valores (no hace falta)

df['Clave_Hash']= np.NaN

In [75]:
# nueva columna, que contenga el resultado de una función Hash aplicada sobre el campo 
# "Código de País" y se denomine "Clave_Hash"

#df['Clave_Hash']=[hash_function(i) for i in df['Código de país']]
for i in df["Código de país"]:
   df['Clave_Hash'] = hash_function(i)

In [77]:
df_nuevo = df

2. A partir del Dataframe creado en el punto 1, construir uno nuevo, que contenga solo los valores distintos de la tupla "Clave_Hash", "Código de País" , "Nombre de país" y "Región". Quitando luego del dataframe original los campos "Código de País" , "Nombre de país" y "Región"

In [81]:
df_nuevo.drop_duplicates(subset=["Clave_Hash","Código de país",'Nombre del país',"Región"],inplace=True)

df_nuevo.head(5)

,Código de país,Nombre del país,Región,Año,CO2 (kt),CO2 per cápita (toneladas métricas),Clave_Hash
26,ABW,Aruba,América Latina y Caribe,1986,"179,683",2.868319,951
87,AND,Andorra,Europa y Asia Central,1995,"407,037",6.374495,951
104,AFG,Afganistán,Sur de Asia,1960,"414,371",0.046068,951
156,AGO,Angola,África subsahariana,1960,"550,05",0.104357,951
208,ALB,Albania,Europa y Asia Central,1960,"2.024,18",1.258195,951

In [92]:
df_nuevo.drop(["Código de país",'Nombre del país',"Región"],axis=1).reset_index()
#agregar .reset_index()
# quedaron mal la clave hash, ver el merge
#pd.merge(df,df_nuevo, on='Clave Hash', how=outer)

     index   Año   CO2 (kt)  CO2 per cápita (toneladas métricas)  Clave_Hash
0       26  1986    179,683                             2.868319         951
1       87  1995    407,037                             6.374495         951
2      104  1960    414,371                             0.046068         951
3      156  1960     550,05                             0.104357         951
4      208  1960   2.024,18                             1.258195         951
..     ...   ...        ...                                  ...         ...
194  10867  1960   3.634,00                             0.703403         951
195  10919  1960  97.934,57                             5.629718         951
196  10971  1960   2.321,21                             0.152228         951
197  11027  1964   3.278,30                             0.950434         951
198  11079  1964   4.473,74                             1.045374         951

[199 rows x 5 columns]

In [91]:
headers = ['year','co2 (kt)','co2 per cap','clave_hash']
df_nuevo.columns = headers
df_nuevo.head()

ValueError: Length mismatch: Expected axis has 7 elements, new values have 4 elements

In [83]:
df_nuevo.to_csv('Emisiones_CO2_2.csv')